:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /* (with 75% opacity for lightbox background) */
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

.attribution a {
    color: hsl(0, 0%, 0%);
}

body,
html {
    font-size: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 4%;
    border-bottom: 2px solid var(--light-grayish-blue);
    position: relative;
}

.navbar__nav-links {
    display: flex;
    gap: clamp(1rem, 2vw, 3rem);
    list-style-type: none;
    height: 100%;
}

.navbar__nav-links a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 2rem 0;
    font-weight: lighter;
    border-bottom: 3px solid transparent;
}

.navbar__nav-links a:hover {
    border-color: var(--orange);
}

#navbar__cart-toggle {
    display: none;
}

#navbar__cart-toggle:checked~.cart {
    scale: 1;
    transition: scale 200ms ease-in-out;
}

#navbar__cart-toggle+label {
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    background: url(./images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.cart-count {
    background-color: var(--orange);
    padding: 1.5px 7px;
    border-radius: 15px;
    font-size: 0.6rem;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-weight: bolder;
    line-height: 1;
    display: none;
}

.navbar__cart-toggle-img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 6.5%;
    transform: translateY(-50%);
    background: url(./images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.navbar__profile-btn {
    background-color: transparent;
    border: none;
    width: clamp(1.5rem, 3.3vw, 3rem);
    height: clamp(1.5rem, 3.3vw, 3rem);
    height: width;
    border-radius: 50%;
    background: url(./images/image-avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-block: 1rem;
}

.navbar__profile-btn:hover {
    outline: 2px solid var(--orange);
}

#nav-toggle {
    display: none;
}

.cart {
    position: absolute;
    right: 0;
    top: clamp(4rem, 6.6vw, 6rem);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.4rem 20px 0 var(--grayish-blue);
    min-width: 280px;
    z-index: 10;
    scale: 0;
}

.cart>span {
    font-weight: 800;
    color: var(--black);
    display: block;
    padding: clamp(1rem, 1.6vw, 1.5rem);
    border-bottom: 1px solid var(--grayish-blue);
}

.cart-basket {
    padding: clamp(1rem, 1.6vw, 1.5rem);
}

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    min-height: 8rem;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: min(0.5vw);
}

.cart-item>.thumbnail {
    width: 3rem;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.cart-item__info>p {
    font-weight: bold;
    color: var(--grayish-blue);
}

.cart-item__info>span {
    color: var(--grayish-blue);
}

.cart-item__info>span>strong {
    color: var(--very-dark-blue);
}

.cart-item__detete-btn,
.cart>button {
    border: none;
    background-color: transparent;
}

.cart>button {
    width: calc(100% - clamp(2rem, 3.3vw, 3rem));
    padding: 1rem;
    background-color: var(--orange);
    font-weight: bolder;
    border-radius: 8px;
    margin: 0 clamp(1rem, 1.6vw, 1.5rem) clamp(1rem, 1.6vw, 1.5rem) clamp(1rem, 1.6vw, 1.5rem);
    font-size: 0.9rem;
    display: none;
}

main {
    padding: 2rem 6%;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

.product-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto 0;
    width: 100%;
}

.product-item__images {
    width: 45%;
    max-width: 30rem;
    min-width: 300px;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-between;
    flex-grow: 1;
}

.product-item__images__thumbnail {
    display: none;
}

.product-item__images__thumbnail+label {
    max-width: 7rem;
    height: 6rem;
    border-radius: 10px;
    order: 5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

.product-item__images__thumbnail:checked+label,
.product-item__images__thumbnail+label:hover {
    position: relative;
}

.product-item__images__thumbnail:checked+label {
    outline: 2px solid var(--orange);
}

.product-item__images__thumbnail:checked+label::after,
.product-item__images__thumbnail+label:hover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(172, 129, 49, 0.603);
}

.product-item__images__thumbnail:nth-child(1):checked~.product-item__images__preview {
    background: url(./images/image-product-1.jpg);
    background-size: cover;
}

.product-item__images__thumbnail:nth-child(3):checked~.product-item__images__preview {
    background: url(./images/image-product-2.jpg);
    background-size: cover;
}

.product-item__images__thumbnail:nth-child(5):checked~.product-item__images__preview {
    background: url(./images/image-product-3.jpg);
    background-size: cover;
}

.product-item__images__thumbnail:nth-child(7):checked~.product-item__images__preview {
    background: url(./images/image-product-4.jpg);
    background-size: cover;
}

.product-item__images__thumbnail+label:nth-of-type(1) {
    background: url(./images/image-product-1-thumbnail.jpg);
    background-size: cover;
}

.product-item__images__thumbnail+label:nth-of-type(2) {
    background: url(./images/image-product-2-thumbnail.jpg);
    background-size: cover;
}

.product-item__images__thumbnail+label:nth-of-type(3) {
    background: url(./images/image-product-3-thumbnail.jpg);
    background-size: cover;
}

.product-item__images__thumbnail+label:nth-of-type(4) {
    background: url(./images/image-product-4-thumbnail.jpg);
    background-size: cover;
}

.product-item__images__preview {
    order: 1;
    width: 100%;
    height: clamp(20rem, 35vw, 27rem);
    max-height: 70vh;
    /* background: url(./images/image-product-1.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    transition: background 500ms ease-in-out;
    aspect-ratio: 2/3;
    border-radius: 15px;
}

.product-item__info {
    width: 45%;
    padding-inline: 2%;
    max-width: 29rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.product-item__info>span {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--dark-grayish-blue);
    font-weight: bolder;
    font-size: clamp(0.8rem, 1.1vw, 1rem);
    letter-spacing: 2px;
}

.product-item__info>h1 {
    font-size: clamp(1.6rem, 3.3vw, 3rem);
    line-height: 1.1;
    margin-bottom: clamp(1.2rem, 2.2vw, 2rem);
    color: var(--very-dark-blue);
}

.product-item__info>p {
    line-height: 1.6;
    margin-bottom: clamp(1.2rem, 2.2vw, 2rem);
    font-weight: 400;
    font-size: clamp(0.9rem, 1.1vw, 1rem);
    color: var(--dark-grayish-blue);
}

.product-item__info__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem 1.5rem;
    max-width: 14rem;
    margin-bottom: clamp(1rem, 2.2vw, 2rem);
}

.product-item__info__price-wrapper>span:nth-child(1) {
    font-size: clamp(1.7rem, 2.5vw, 2.3rem);
    font-weight: bolder;
}

.product-item__info__price-wrapper>span:nth-child(2) {
    font-size: 1rem;
    background-color: var(--very-dark-blue);
    padding: 0.3rem 0.6rem;
    border-radius: 7px;
    color: white;
    display: flex;
    align-items: center;
    line-height: 1;
}

.product-item__info__price-wrapper>span:nth-child(3) {
    text-decoration: line-through;
    font-weight: bolder;
    color: var(--dark-grayish-blue);
}

.add-to-cart {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: max-content;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--light-grayish-blue);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    flex-grow: 1;
}

.decrement-btn,
.increment-btn {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.decrement-btn:hover,
.increment-btn:hover {
    color: rgba(255, 166, 0, 0.637);
}

.counter-value {
    width: 50px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
}

.add-to-cart>button {
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 0.9rem 3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    flex-grow: 1;
}

.add-to-cart>button:hover,
.cart>button:hover
 {
    background-color: rgba(255, 166, 0, 0.637);
}

.add-to-cart>button:active,
.cart>button:active {
    scale: 0.95;
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
    scale: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
}

.light-box>.product-item__images {
    gap: 1.5rem;
    justify-content: center;
    max-width: 40rem;
    width: 100%;
    align-content: center;
    position: relative;
}

.light-box__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10;
    border: none;
    background-color: transparent;
    filter: invert(1);
    filter: brightness(5);
    scale: 1.3;
}

.light-box .product-item__images__preview {
    height: clamp(20rem, 45vw, 35rem);
}

.light-box .product-item__images__preview>img {
    border-radius: 20px;
    object-fit: cover;
}

.light-box>.product-item__images>.navigation {
    top: 48%;
    transform: translateY(-48%);
    height: clamp(2.3rem, 3.6vw, 3.5rem);
    width: clamp(2.3rem, 3.6vw, 3.5rem);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-box>.product-item__images>.navigation>img {
    width: 25%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none;
}

@media(max-width: 48em) {

    main {
        padding: 0 0 4rem 0;
        display: block;
    }

    .navbar {
        border: none;
        position: static;
    }

    .navbar__nav-links {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        flex-direction: column;
        width: 65%;
        padding: 4rem 7% 1rem 7%;
        box-shadow: 35vw 0 0 rgba(0, 0, 0, 0.5);
        transform: translateX(100vw);
        z-index: 11;
    }

    .navbar__nav-links a {
        padding-block: 0.3rem;
        font-weight: bolder;
    }

    #nav-toggle+label {
        width: 2rem;
        height: 2rem;
        background: url(./images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 12;
    }

    #nav-toggle:checked+label {
        background: url(./images/icon-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
    }

    #nav-toggle:checked~.navbar__nav-links {
        animation: nav-slide 200ms ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes nav-slide {
        from {
            transform: translateX(-100vw);
        }

        to {
            transform: translateX(0);
        }
    }

    .cart {
        left: 2vw;
        right: 2vw;
        /* box-shadow: none; */
    }

    .empty-state {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: var(--dark-grayish-blue);
    }

    .product-item>.product-item__images {
        display: none;
    }

    .light-box__close {
        display: none;
    }

    .light-box {
        display: block;
        position: relative;
        background-color: transparent;
        width: 100%;
        margin-bottom: 1.5rem;
        scale: 1;
        z-index: 9;
    }

    .light-box>.product-item__images {
        height: auto;
        max-width: 100%;
    }

    .light-box .product-item__images__preview>img {
        border-radius: 0;
    }

    .light-box .product-item__images__thumbnail,
    .light-box .product-item__images__thumbnail+label {
        display: none;
    }

    .light-box>.product-item__images>.navigation {
        top: 59%;
        transform: translateY(-59%);
    }

    .product-item__info {
        padding-inline: 6%;
        max-width: 100%;
    }

    .product-item__info__price-wrapper {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .product-item__info__price-wrapper>span:nth-child(3) {
        margin-left: auto;
    }

    .add-to-cart>button {
        box-shadow: 0px 1rem 30px 8px var(--pale-orange);
    }
}